{% extends "layout.html" %}

{% block content %}

    <h1 class="fs-2">Sobre mí</h1>
    <img class="img-about rounded-circle mt-4 mx-auto d-block" src="/static/square-om.webp" alt="Foto de perfil de Oscar Molinar">
    <p class="mt-4">
        Ha sido más fácil encontrar el nombre perfecto para las variables que utilicé en este 
        proyecto que escribir una sección sobre mi. 
    </p>
    <p>
        Desde muy pequeño me ha interesado el hecho de crear cosas. 
        La curiosidad me llevaba a desarmar mis juguetes y reconstruirlos con mis propias ideas. 
        Creo que esta inclinación me ha llevado a lo que soy hoy: un desarrollador de software.
    </p>
    <p>
        Me enfoco principalmente en el backend, aunque de vez en cuando me aventuro al salvaje mundo del frontend. 
        Sé cómo "centrar un div" en aproximadamente 1 hora, y con la ayuda de algún framework de CSS, puedo reducirlo a unos frenéticos 50 minutos &#128526;. 
    </p>
    <p>
        Para dar vida a mis ideas y dentro de mi entorno laboral, he implementado diferentes lenguajes de programación como 
        Python, Javascript o PHP y frameworks como FastAPI, Laravel, Node.JS, .NET, entre otros. También me he sumergido en el ecosistema de React para construir interfaces de usuarios
        dinámicas e interactivas. 
    </p>
    <p>
        En mi tiempo libre me gusta leer novelas o libros de auto-ayuda, ver películas de acción 
        y dar paseos con mi mascota Baloo. 
    </p>
    <p>
        Me interesa mucho el compartir conocimiento, por lo que de vez en cuando podrán ver algún
        artículo en mi blog sobre diferentes temas. No necesariamente relacionados con la programación.
        La conducta humana, el crecimiento personal o la electrónica, son algunos de los temas
        que me llaman la atención y sería un gusto compartir mis ideas contigo y conocer las tuyas.
    </p>
    <p>
        Gracias por llegar hasta aquí. Aquí te dejo mi <a href="/resume">hoja de vida</a> si quieres conocer más sobre mi experiencia laboral 
        o si deseas contactarme.
    </p>

{% endblock content %}