<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{%block title%} {% endblock %} - Website Oscar Molinar </title>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-DLPM1XPJB6"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-DLPM1XPJB6');
        </script>

        <link rel="shortcut icon" href="/static/O.ico" type="image/x-icon">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/app.css">
        
        <script href="/static/js/bootstrap.min.js"></script>
    {% endblock head %}
</head>
<body class="d-flex flex-column py-4">
    <header class="d-flex justify-content-between align-items-center">
        <a class="logo fs-1 fw-bold text-decoration-none text-light" href="/">Oscar Molinar</a>
        <a href="/about"> Sobre mí </a>
    </header>

    <main class="flex-grow-1 py-4">
        {% block content %}{% endblock %}
    </main>

    <footer class="d-flex justify-content-between align-items-center">
        <span class="fs-6">Oscar Molinar</span>
        <a href="https://github.com/oscarenriqq/Myself" target="_blank"> Github </a>
    </footer>

</body>
</html>